body
	margin: 0
	padding: 0



$Weinrot: #611A1C

$Schwarz: #1A1A1A

$anderesSchwarz:#171717

// ***************(HEADER; NAV-BAR; FOOTER)**********************************


// ***************HEADER*********************************

// header weinrot  mit dem  image banner-1, logo-newspaper 
.header
	display: flex
	justify-content: space-between  
	flex-direction: row 
	background-color: $Weinrot
	width: 100%
	height: 12vw
	

#image-logo
	display: flex

	width: 20vw
	height: 4vw
	margin-top: 4%
	margin-left: 5%

#image-banner-link
	display: flex
	margin-top: 2.5%
	margin-right: 4%
	height: 60%
	width: 60%
	
#image-banner
	display: flex
	border: 0
	width: 100%




@media screen and (max-width: 800px)
	#image-banner-link 
		display: none 
	
	#image-logo
		margin-left: 10vw







// **********************NAV-BAR****************************

.main-nav
	display: flex
	width: 100%
	background-color: $Schwarz


ul
	display: flex
	justify-content: flex-start
	list-style-type: none
	flex-direction: row
	height: 1.5vw

li
	display: flex
	margin-left: 2vw
	margin-top: -0.5vw
	

li a
	font-size: 2vw
	color: white
	text-decoration: none

	
li a:hover
	color: #FCB6A7	


@media screen and (max-width: 800px)
	.main-nav
		display: flex
		justify-content: center

// **********************MAIN**********************************


main
	display: flex
	justify-content: center
	width: 95%
	flex-direction: column
	margin: 0 auto
// topper1 
#date
	display: flex
	justify-content: flex-end
	margin-right: 2%
	font-size: 1em
	font-weight: bold
	color: gray

.topper-due
	display: flex
	justify-content: flex-start
	width: 100%
	background-color: lightgrey
	height: 2.5vw

.topper-font
	display: flex
	padding-left: 2vw
	font-size: 2vw
	margin: 0.1vw
	color: #4C4C4C

@media screen and (max-width: 800px)
	#date
		display: none
	main
		width: 99%
	.topper-due
		height: 4vw
	.topper-font
		font-size: 3vw
// *********************first column ******************************** 

.column-uno
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-top: 1%

.column-due
	
	display: flex
	justify-content: space-between
	flex-direction: row
	width: 86%
	flex-flow: row wrap
	margin-top: 7%


@media screen and (max-width: 800px)
	.column-uno
		margin-top: 20%
	.column-due
		width: 100%
		display: flex
		justify-content: space-between


// ****************************first article**********************

#box-bla-link
	position: relative
	display: flex
	width: 33%
	justify-content: center
	align-items: flex-end
	text-decoration: none
	

#box-bla
	position: absolute
	display: flex
	width: 100%
	z-index: -1
	

	
#box-bla-div
	display: flex
	position: absolute
	z-index: 1
	
	

#box-bla-text
	font-size: 1.5vw
	height: 5vw
	width: 100%
	z-index: 2
	color: white
	background-color: $Schwarz
	margin: 0
	padding: 0
	text-align: left
	padding-top: 0.5vw
	

#box-fswd-link
	display: none


@media screen and (max-width: 800px)
	#box-bla-link
		width: 47%
	#box-fswd-link
		display: flex
		width: 47%

//****************************banner 2***************************** 
#image-banner-2-link
	display: flex
	justify-content: center
	width: 13%
	height: 39vw

#image-banner-2
	display: flex
	width: 100%
	
.topper-tre
	display: flex
	justify-content: flex-start
	width: 100%
	background-color: lightgrey
	height: 2.5vw	
	margin-top: 3%


@media screen and (max-width: 800px)
	#image-banner-2-link
		display: none





// ************************* first column end***************
#image-banner-3-link
	display: flex
	width: 90%
	margin-top: 2vw
	margin-left: 5%


#image-banner-3
	width: 100%

// ***********************second column*********************


.column-tre
	display: flex
	flex-direction: row
	justify-content: space-between
	margin-top: 1%

.column-cinque	
	display: flex
	justify-content: space-between
	flex-direction: row
	width: 87%
	flex-flow: row wrap
	
// ******************************* second article++++++++++++++++++++++++++++
#box-bib-link
	position: relative
	display: flex
	width: 49%
	justify-content: center
	align-items: flex-end
	text-decoration: none
	

#box-bib
	position: absolute
	display: flex
	width: 100%
	z-index: -1
	

	
#box-bib-div
	display: flex
	position: absolute
	z-index: 1
	
	

#box-bib-text
	font-size: 2.5vw
	height: 8vw
	width: 100%
	z-index: 2
	color: white
	background-color: $Schwarz
	margin: 0
	padding: 0
	text-align: left
	padding-top: 0.5vw

// ******************************CF banner 4**********************
#image-banner-4-link
	display: flex
	justify-content: center
	width: 12%
	
#image-banner-4
	display: flex
	width: 100%



.footer
	display: flex
	flex-direction: column
	margin-top: 2%
	width: 100%
	height: 16vw
	background-color: $Schwarz
	align-items: flex-end
	
#image-logo2
	justify-content: center
	width: 30%
		
#end 
	text-align: center
	font-size: 2vw
	color: white
	background-color: $Schwarz
	margin: 0
	padding-bottom: 1%




