@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\000031}}
body {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000319}}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #611A1C;
  width: 100%;
  height: 12vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000328}}
#image-logo {
  display: flex;
  width: 20vw;
  height: 4vw;
  margin-top: 4%;
  margin-left: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000336}}
#image-banner-link {
  display: flex;
  margin-top: 2.5%;
  margin-right: 4%;
  height: 60%;
  width: 60%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000343}}
#image-banner {
  display: flex;
  border: 0;
  width: 100%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000352}}
  #image-banner-link {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000355}}
  #image-logo {
    margin-left: 10vw; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000366}}
.main-nav {
  display: flex;
  width: 100%;
  background-color: #1A1A1A; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000372}}
ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-direction: row;
  height: 1.5vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000379}}
li {
  display: flex;
  padding-left: 2vw;
  margin-top: -0.5vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000385}}
li a {
  font-size: 2vw;
  color: white;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000391}}
li a:hover {
  color: #FCB6A7; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\0000396}}
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003100}}
  ul {
    margin-left: -8%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003106}}
main {
  display: flex;
  justify-content: center;
  width: 95%;
  flex-direction: column;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003113}}
#date {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
  font-size: 1em;
  font-weight: bold;
  color: gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003121}}
.topper-due {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: lightgrey;
  height: 2.5vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003128}}
.topper-font {
  display: flex;
  padding-left: 2vw;
  font-size: 2vw;
  margin: 0.1vw;
  color: #4C4C4C; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003136}}
  #date {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003138}}
  main {
    width: 99%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003140}}
  .topper-due {
    height: 4vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003142}}
  .topper-font {
    font-size: 3vw; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003146}}
.column-uno {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003152}}
.column-due {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 86%;
  flex-flow: row wrap;
  margin-top: 7%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003163}}
  .column-uno {
    margin-top: -10%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003165}}
  .column-due {
    width: 100%;
    display: flex; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003173}}
#box-bla-link {
  position: relative;
  display: flex;
  width: 33%;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003182}}
#box-bla {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003190}}
#box-bla-div {
  display: flex;
  position: absolute;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003197}}
#box-bla-text {
  font-size: 1.5vw;
  height: 5vw;
  width: 100%;
  z-index: 2;
  color: white;
  background-color: #1A1A1A;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 0.5vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003210}}
#box-fswd-link {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003213}}
#box-bam-link {
  display: none; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003217}}
  #box-bla-link {
    width: 47%;
    margin-top: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003221}}
  #box-bla-text {
    font-size: 3vw;
    height: 8vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003227}}
  #box-fswd-link {
    display: flex;
    position: relative;
    width: 47%;
    height: 30vw;
    margin-top: 8%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003234}}
  #spezial {
    width: 100%;
    margin: 0%;
    position: absolute;
    height: 30vw; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003245}}
#image-banner-2-link {
  display: flex;
  justify-content: center;
  width: 13%;
  height: 39vw; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003251}}
#image-banner-2 {
  display: flex;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003255}}
.topper-tre {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: lightgrey;
  height: 2.5vw;
  margin-top: 3%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003265}}
  #image-banner-2-link {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003267}}
  .topper-tre {
    height: 4vw;
    margin-bottom: -5vw; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003275}}
#image-banner-3-link {
  display: flex;
  width: 90%;
  margin-top: 2vw;
  margin-left: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003282}}
#image-banner-3 {
  width: 100%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003286}}
  #image-banner-3 {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003288}}
  #image-banner-3-link {
    display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003295}}
.column-tre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003301}}
.column-cinque {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 87%;
  flex-flow: row wrap; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003309}}
  .column-tre {
    margin-top: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003311}}
  .column-cinque {
    width: 99%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003317}}
#box-bib-link {
  position: relative;
  display: flex;
  width: 49%;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003326}}
#box-bib {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003334}}
#box-bib-div {
  display: flex;
  position: absolute;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003341}}
#box-bib-text {
  font-size: 2.5vw;
  height: 8vw;
  width: 100%;
  z-index: 2;
  color: white;
  background-color: #1A1A1A;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-top: 0.5vw; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003355}}
  #box-bib-link {
    width: 47%;
    margin-top: 30%; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003363}}
#image-banner-4-link {
  display: flex;
  justify-content: center;
  width: 12%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003368}}
#image-banner-4 {
  display: flex;
  width: 100%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003373}}
  #image-banner-4-link {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003375}}
  #image-banner-4 {
    display: none; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003379}}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 100%;
  height: 16vw;
  background-color: #1A1A1A;
  align-items: flex-end; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003388}}
#image-logo2 {
  justify-content: center;
  width: 30%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003392}}
#end {
  text-align: center;
  font-size: 2vw;
  color: white;
  background-color: #1A1A1A;
  margin: 0;
  padding-bottom: 1%; }

@media screen and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flomo\/OneDrive\/Dokumente\/codefactory\/Code\%20Reveau\/CodeReview2\/index\.sass}line{font-family:\00003401}}
  .footer {
    align-items: center; } }

/*# sourceMappingURL=index.css.map */
